# Example environment variables file.
# Rename this file to .env and fill the values.

TOKEN= #Your Discord bot Token
DATABASE_URL= #Your Turso libSQL
DATABASE_PASSWORD= #Your Turso Password
OPENROUTER_API_KEY= #Your OpenRouter API Key (if you want to use OpenRouter as your LLM provider)

LASTFM_API_KEY=xxx,xxx #You can add 1 or more for loadbalance (depend what you need)