dist
drizzle
.drizzle
node_modules
.fuse_*
commands.json
pnpm-lock.yaml
package-lock.json
.env
.env.keys
.env.production
sessions.json

# Executables
alya-chan
alya-chan-*
*.exe

# Config
src/config/config.ts
src/config/nodes.ts